@model IndianMusic.Domain.Models.MusicPiece
<div class="card of-the-day-card">
    <div class="card-body">
        <h5 class="card-title">Music of the Week</h5>
        <div class='divider-line-light-bg'></div>
        @* <p class="card-text">@Model.Title</p> *@
        <partial name="_YoutubeVideoOfTheDay" />
    </div>
</div>