<div class="row m-0 p-0" style="width: 275px;">
    <div class="col-11 m-0 p-0">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <div class="brand"><img src="~/images/logo-80x80.png" title="Indian Music" /></div>
            <div class="brand" id="spanIndian">Indian</div>
            <div class="brand dark-music" id="spanMusic">Music</div>
            <div class="brand" id="spanRedDot">.</div>
        </a>
    </div>
    <div class="col-1 m-0 p-0" id="languageSelector">
        @await Html.PartialAsync("_LanguageSelector")
    </div>
</div>