<footer class="border-top footer text-muted text-sm-center">
    <div class="container">
        &copy; 2025 - IndianMusicz - 
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> :
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> :
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Disclaimer</a> :
        <a asp-area="" asp-controller="Home" asp-action="Privacy">About</a> :
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a> :
        <span>v1.0</span>
    </div>
</footer>