<script src="https://apis.google.com/js/platform.js"></script>
<div class="g-ytsubscribe"
     data-channelid="UCG9o6JUcuQuuW5oaHgvL_DQ"
     data-layout="default"
     data-count="hidden">
</div>
@* 
<div class="g-ytsubscribe"
     data-channelid="UCG9o6JUcuQuuW5oaHgvL_DQ"
     data-layout="full"
     data-count="default">
</div> *@