@model IndianMusic.Domain.Models.Artist
<div class="card of-the-day-card">
    <div class="card-body">
        <h5 class="card-title">
            Artist of the Day
        </h5>
        <div class='divider-line-light-bg'></div>
        <img src="images/artists/hpc.jpg" class="card-img-top" alt="Hari Prasad Chourasia">
        <p class="card-text">@Model.Name</p>
    </div>
</div>