@import "tags.css";
@import "bootstrap_extended.css";
@import "dropdown.css";
@import "themes.css";

:root {
    --primary-color: #800000; /*Maroon (#800000) or Royal Blue (#002366);*/
    --secondary-color: #FFF8DC; /*Gold (#FFD700) or Cream (#FFF8DC)*/
    --tertiary-color: #180f13;
    --background-color: #FAF9F6; /*Background: Off-white (#FAF9F6) or Warm Beige (#F5F5DC) */
    --text-color: #2C2C2C;      /*Charcoal Black (#2C2C2C)*/
    --border-color: #FF4081;    /* neon pink*/ /*#db005e;*/
    --danger-color: red;
    --highlight-color: #63052e;
    /*--bs-dropdown-link-active-bg: #800000;*/
}




.divider-line {
    height: 1px;
    margin: 0px 0px 5px 0px;
    /*background: linear-gradient(90deg, rgb(33 37 41) 12%, rgba(174, 30, 92, 1) 50%, rgb(33 37 41) 89%);*/
    background: linear-gradient(90deg, rgb(33 37 41) 12%, var(--primary-color) 50%, rgb(33 37 41) 89%);
}

.divider-line-light-bg-from-center {
    height: 1px;
    margin: 0px 0px 5px 0px;
    background: linear-gradient(90deg, rgb(255 255 255) 12%, var(--primary-color) 50%, rgb(255 255 255) 89%);
}

.divider-line-light-bg {
    background: linear-gradient(90deg, rgb(174 30 92) 12%, var(--primary-color) 20%, rgb(255 255 255) 89%);
    height: 1px;
}

.highlight {
    color: var(--highlight-color);
}

.boder-gradient {
    background: #FFFFFF;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 12%, rgba(174, 30, 92, 1) 50%, rgba(255, 255, 255, 1) 89%);
    height: 1px;
    margin: -9px 0px 5px 0px;
    padding: 0px;
}

.btn-primary {
    background-color: var(--highlight-color);
    border-color: var(--border-color);
}

.btn-outline-success {
    color: var(--highlight-color);
    border-color: var(--border-color) !important;
}

    .btn-outline-success:hover {
        color: white;
        background-color: var(--highlight-color);
    }


.of-the-day-card {
    min-height: 300px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-body {
    padding: .5rem 1rem;
}
.card-title {
    margin-bottom: .2rem;
}

.quote-title {
    color: var(--highlight-color) !important;
}

    .quote-title::before {
        content: open-quote;
        font-size: 1.5rem;
        left: -5rem;
        top: -2rem;
        color: #808080;
    }

    .quote-title::after {
        content: close-quote;
        font-size: 1.5rem;
        right: -5rem;
        bottom: 1rem;
        color: #808080;
    }
/*****
BRAND / LOGO    
****/
#spanIndian {
    font-family: 'Lavishly Yours', cursive;
    font-size: 1.7em;
    font-weight: bold;
    /*color: var(--text-color);*/
}
#spanMusic {
    font-family: 'DM Serif Display', serif;
    font-size: 1.7em;
    font-weight: 600;
    color: var(--primary-color);
}
#spanRedDot {
    font-weight: 800;
    font-size: 28px;
    margin-left: -24px;
    margin-top: -15px;
    color: var(--border-color); /* #FF4081;*/
}
#languageSelector {
    width: 50%;
    margin-top: -15px;
    margin-left: 101px;
}
div.brand {
    display: block;
    float: left;
}
#welcome-text-1 {
    font-size: 2em;
}

#welcome-text-2 {
    font-size: 1.3em;
}