@import "tags.css";
@import "bootstrap_extended.css";
@import "dropdown.css";
@import "themes.css";

:root {
    --primary-color: #800000; /*Maroon (#800000) or Royal Blue (#002366);*/
    --secondary-color: #FFF8DC; /*Gold (#FFD700) or Cream (#FFF8DC)*/
    --tertiary-color: #180f13;
    --background-color: #FAF9F6; /*Background: Off-white (#FAF9F6) or Warm Beige (#F5F5DC) */
    --text-color: #2C2C2C;      /*Charcoal Black (#2C2C2C)*/
    --border-color: #FF4081;    /* neon pink*/ /*#db005e;*/
    --danger-color: red;
    --highlight-color: #63052e;
    --dark-theme-text-color: black;
    --light-theme-text-color: white;
}

.quote-title {
    color: var(--highlight-color) !important;
}

    .quote-title::before {
        content: open-quote;
        font-size: 1.5rem;
        left: -5rem;
        top: -2rem;
        color: #808080;
    }

    .quote-title::after {
        content: close-quote;
        font-size: 1.5rem;
        right: -5rem;
        bottom: 1rem;
        color: #808080;
    }


/****************************************************
BRAND / LOGO    
*****************************************************/
div.brand {
    display: block;
    float: left;
}

#spanIndian {
    font-family: 'Comforter'; /*'Lavishly Yours', cursive*/
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 6px;
    margin-right: 5px;
    color: var(--primary-color);
}

#spanMusic {
    font-family: 'DM Serif Display', serif;
    font-size: 1.7em;
    font-weight: 600;
}

#spanRedDot {
    font-weight: 800;
    font-size: 30px;
    margin-left: -24px;
    margin-top: -14px;
    color: var(--highlight-color);
}
/***************************************************************************/

[data-bs-theme="dark"] span.indian,
[data-bs-theme="dark"] .quote-title,
[data-bs-theme="dark"] #spanIndian,
[data-bs-theme="dark"] #spanRedDot {
    color: var(--border-color) !important;
}

[data-bs-theme="light"] span.indian {
    color: var(--primary-color) !important;
}





.divider-line {
    height: 1px;
    margin: 0px 0px 5px 0px;
}

[data-bs-theme="light"] .divider-line {
    background: linear-gradient(90deg, rgb(255 255 255) 12%, var(--primary-color) 50%, rgb(255 255 255) 89%);
}

[data-bs-theme="dark"] .divider-line {
    background: linear-gradient(90deg, rgb(33 37 41) 12%, #fc4080 50%, rgb(33 37 41) 89%);
}

.highlight {
    color: var(--highlight-color);
}

.boder-gradient {
    background: #FFFFFF;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 12%, rgba(174, 30, 92, 1) 50%, rgba(255, 255, 255, 1) 89%);
    height: 1px;
    margin: -9px 0px 5px 0px;
    padding: 0px;
}