@model IndianMusic.Domain.ViewModels.SearchViewModel


<form asp-controller="Search" asp-action="Result" method="post">

        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-4">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                    <input type="text" asp-for="QueryText" class="form-control" placeholder="Search..." aria-describedby="basic-addon1" />
                </div>
            </div>
            <div class="col-4">
                <div class="dropdown mb-2 d-inline float-start ml-1">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Search in Categories
                    </button>
                    <ul class="dropdown-menu p-2" style="max-height: 200px; overflow-y: auto;">
                        @foreach (var category in Model.AllCategories)
                        {
                            var isChecked = Model.SelectedCategories.Contains(category) ? "checked" : "";
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input dark-theme-btn" type="checkbox"
                                           name="SelectedCategories"
                                           value="@category"
                                           id="category_@category"
                                           @isChecked />
                                    <label class="form-check-label" for="category_@category">@category</label>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
</form>